TechFix/Web References/localhostRequest/RequestManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="invID" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="itemName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="brand" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serialNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="reqStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertRequestResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRequestStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="reqStatus" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateRequestStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateRequestStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteRequestResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ViewAllRequests">
        <s:complexType />
      </s:element>
      <s:element name="ViewAllRequestsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ViewAllRequestsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequestsForManager">
        <s:complexType />
      </s:element>
      <s:element name="GetRequestsForManagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequestsForManagerResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequestsForSupplier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="supplierID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRequestsForSupplierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRequestsForSupplierResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRequestById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRequestByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindRequestByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRequestQuantityById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="requestId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FindRequestQuantityByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FindRequestQuantityByIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertRequestSoapIn">
    <wsdl:part name="parameters" element="tns:InsertRequest" />
  </wsdl:message>
  <wsdl:message name="InsertRequestSoapOut">
    <wsdl:part name="parameters" element="tns:InsertRequestResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRequestStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRequestStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateRequestStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateRequestStatusResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRequestSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRequest" />
  </wsdl:message>
  <wsdl:message name="DeleteRequestSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRequestResponse" />
  </wsdl:message>
  <wsdl:message name="ViewAllRequestsSoapIn">
    <wsdl:part name="parameters" element="tns:ViewAllRequests" />
  </wsdl:message>
  <wsdl:message name="ViewAllRequestsSoapOut">
    <wsdl:part name="parameters" element="tns:ViewAllRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequestsForManagerSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequestsForManager" />
  </wsdl:message>
  <wsdl:message name="GetRequestsForManagerSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequestsForManagerResponse" />
  </wsdl:message>
  <wsdl:message name="GetRequestsForSupplierSoapIn">
    <wsdl:part name="parameters" element="tns:GetRequestsForSupplier" />
  </wsdl:message>
  <wsdl:message name="GetRequestsForSupplierSoapOut">
    <wsdl:part name="parameters" element="tns:GetRequestsForSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="FindRequestByIdSoapIn">
    <wsdl:part name="parameters" element="tns:FindRequestById" />
  </wsdl:message>
  <wsdl:message name="FindRequestByIdSoapOut">
    <wsdl:part name="parameters" element="tns:FindRequestByIdResponse" />
  </wsdl:message>
  <wsdl:message name="FindRequestQuantityByIdSoapIn">
    <wsdl:part name="parameters" element="tns:FindRequestQuantityById" />
  </wsdl:message>
  <wsdl:message name="FindRequestQuantityByIdSoapOut">
    <wsdl:part name="parameters" element="tns:FindRequestQuantityByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="RequestManagementServiceSoap">
    <wsdl:operation name="InsertRequest">
      <wsdl:input message="tns:InsertRequestSoapIn" />
      <wsdl:output message="tns:InsertRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRequestStatus">
      <wsdl:input message="tns:UpdateRequestStatusSoapIn" />
      <wsdl:output message="tns:UpdateRequestStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRequest">
      <wsdl:input message="tns:DeleteRequestSoapIn" />
      <wsdl:output message="tns:DeleteRequestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ViewAllRequests">
      <wsdl:input message="tns:ViewAllRequestsSoapIn" />
      <wsdl:output message="tns:ViewAllRequestsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestsForManager">
      <wsdl:input message="tns:GetRequestsForManagerSoapIn" />
      <wsdl:output message="tns:GetRequestsForManagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestsForSupplier">
      <wsdl:input message="tns:GetRequestsForSupplierSoapIn" />
      <wsdl:output message="tns:GetRequestsForSupplierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindRequestById">
      <wsdl:input message="tns:FindRequestByIdSoapIn" />
      <wsdl:output message="tns:FindRequestByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FindRequestQuantityById">
      <wsdl:input message="tns:FindRequestQuantityByIdSoapIn" />
      <wsdl:output message="tns:FindRequestQuantityByIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RequestManagementServiceSoap" type="tns:RequestManagementServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertRequest">
      <soap:operation soapAction="http://tempuri.org/InsertRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequestStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateRequestStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRequest">
      <soap:operation soapAction="http://tempuri.org/DeleteRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAllRequests">
      <soap:operation soapAction="http://tempuri.org/ViewAllRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestsForManager">
      <soap:operation soapAction="http://tempuri.org/GetRequestsForManager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestsForSupplier">
      <soap:operation soapAction="http://tempuri.org/GetRequestsForSupplier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRequestById">
      <soap:operation soapAction="http://tempuri.org/FindRequestById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRequestQuantityById">
      <soap:operation soapAction="http://tempuri.org/FindRequestQuantityById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RequestManagementServiceSoap12" type="tns:RequestManagementServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertRequest">
      <soap12:operation soapAction="http://tempuri.org/InsertRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRequestStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateRequestStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRequest">
      <soap12:operation soapAction="http://tempuri.org/DeleteRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewAllRequests">
      <soap12:operation soapAction="http://tempuri.org/ViewAllRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestsForManager">
      <soap12:operation soapAction="http://tempuri.org/GetRequestsForManager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestsForSupplier">
      <soap12:operation soapAction="http://tempuri.org/GetRequestsForSupplier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRequestById">
      <soap12:operation soapAction="http://tempuri.org/FindRequestById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindRequestQuantityById">
      <soap12:operation soapAction="http://tempuri.org/FindRequestQuantityById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RequestManagementService">
    <wsdl:port name="RequestManagementServiceSoap" binding="tns:RequestManagementServiceSoap">
      <soap:address location="https://localhost:44332/RequestManagementService.asmx" />
    </wsdl:port>
    <wsdl:port name="RequestManagementServiceSoap12" binding="tns:RequestManagementServiceSoap12">
      <soap12:address location="https://localhost:44332/RequestManagementService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>